@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

a {
  font-weight: 500;
  color: #292c33;
  text-decoration: inherit;
  transition: color 0.7s ease;
}
a:hover {
  color: #5c7394;
}

body {
  background: #ffffff;
  margin: 0;
  place-items: center;
}
p {
  line-height: 2;
}
h1 {
  font-size: 3.2em;
  line-height: 1.5;
}
button {
  font-weight: bold;
  padding-left: 40px;
  padding-right: 40px;
  background-color: transparent;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

button:hover {
  border-color: #5c7394;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* Custom Fonts */
@font-face {
  font-family: "lora";
  src: url("/fonts/Lora/Lora-VariableFont_wght.ttf") format("ttf");
  /* Add other font formats and variations if needed */
}
